<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
          <span class="row">
            <h2 class="list-group-item-heading">{{ contact.name }}</h2>
            </span>
          <span class="pull-left">
            <img
              [src]="contact.imageUrl"
              alt="{{ contact.name }}"
              class="img-responsive"
              style="max-height: 50px;">
          </span>
          <a class="btn btn-danger pull-right" style="cursor: pointer" (click)="onDelete()">Delete</a>
          <a class="btn btn-primary pull-right" style="cursor: pointer" routerLink="edit">Edit</a>
      </div>
      </div>
  <div class="panel-body">
    <div class="row">
      <div >
        <a class="list-group-item pull-left">
            E-mail: {{contact.email}}
            <br>
            Phone: {{contact.phone}}
        </a>
      </div>
    </div>
  </div>
  </div>
</div>
