<p>Document list Works</p>
<div class="panel panel-defaults">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a class="btn btn-success pull-right">Add Document</a>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <cms-document-item *ngFor="let documentsEl of documents"
                         [document]="documentsEl"
                         (documentSelected)="onDocumentSelected(documentsEl)"></cms-document-item>
    </div>
  </div>
</div>
